.card {
  text-align: center;
  outline-style: auto;
  width: 500px;
  margin-bottom: initial;
  /* margin-: 10%; */
  margin: auto;
  font-size: 30px;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
img {
  height: 200%;
  margin: initial;
  padding: initial;
}

@font-face {
  font-family: 'Pokemon_Hollow';
  src: local('Pokemon_Hollow'),
    url(../fonts/Pokemon_Hollow.ttf) format('truetype');
}

.pokemon_name {
  font-family: Pokemon_Hollow;
  font-size: 85px;
  color: black;
  padding: 20px;
  padding-bottom: initial;
  margin-bottom: initial;
  letter-spacing: 11px;
}

h3 {
  margin-top: initial;
  padding-bottom: 20px;
}
